{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <a href="/" class="logo">ATA</a>
    </header>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
            {% if total_items > 0 %}
            Your cart:
            <a href="{% url 'cart:cart_detail' %}">
                {{ total_items }} item{{ total_items|pluralize }}, ${{ cart.get_total_price }}
            </a>
            {% elif not order %}
            Your cart is empty
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>